* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}



.header {
    display: flex;
    padding: 10px 20px;
    height: 10%;
    width: 100%;
    top:0;
    position: fixed;
    background-color: #ffffff;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 10000;
}

.logo {
    width: 100px;
    height: 50px;
    margin-left: 5%;
}

.header input {
    width: 50%;
    height: 35px;
    border-radius: 10%;
    border-radius: 40px 0 0 40px;
    padding: 5px 20px;
    margin-left: 5%;
    margin-top: 10px;
}

.header .search {
    border-radius: 0 40px 40px 0;
    padding: 10px;
    cursor: pointer;
    background-color: #ffffff;
    border: 1px solid #000000;
    height: 50px;
    margin-top: 10px;
}

button {
    background-color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 10%;
}

.avt {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin: 15px 20px;
    cursor: pointer;
}